# my.cnf file for MySQL 8

# this is read by the standalone daemon and embedded servers
[server]

# We'd like to skip-networking that but unfortunately Sequel Ace can't connect to the 
# socket then.
# https://sequel-ace.com/get-started/local-connection.html
# Therefore we are commenting out skip-networking and will bind to 127.0.0.1.
# Socket connections are still possible.
#
# WARNING! You must also comment this out in /opt/local/etc/mysql8/macports-default.cnf
#          or MySQL will not listen to 127.0.0.1 and Sequel Ace will not connect.
#
#skip-networking

# this is only for the mysqld standalone daemon
[mysqld]
user		= _mysql
port		= 3306
skip-external-locking
basedir=/opt/local
datadir=/opt/local/var/db/mysql8
#skip-networking = OFF
bind-address = 127.0.0.1

log_error = /opt/local/var/log/mysql8/mysql.log

# Password complexity managed by applications
#validate_password_policy=LOW

# Effective limit in macOS 10.14
open_files_limit               = 10240
table_definition_cache         = 4096
table_open_cache               = 900

## Per-thread Buffers
sort-buffer-size                = 1M
read-buffer-size                = 1M
read-rnd-buffer-size            = 1M
join-buffer-size                = 1M

## Temp Tables
tmp-table-size                  = 32M 
max-heap-table-size             = 64M 


## MyISAM
key-buffer-size                 = 64M 
myisam-sort-buffer-size         = 128M

## InnoDB
innodb_buffer_pool_size        = 8G
innodb-log-buffer-size         = 8M
# on by default
innodb-file-per-table          = 1
innodb-open-files              = 8192
innodb_flush_method            = O_DIRECT
innodb_flush_log_at_trx_commit = 0

max_connect_errors = 10000
