# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/

# Include MacPorts defaults. As of November 2017, this is only
# skip-networking
!include /opt/local/etc/mariadb/macports-default.cnf

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
#skip-name-resolve
#sql-mode                        = NO_ENGINE_SUBSTITUTION
#event-scheduler                = 1
# Make sysdate() safe for replication.
sysdate_is_now                 = 1
# Below matches the default character set on RHEL7 production servers and is the
# default for MariaDB. See
# https://mariadb.com/kb/en/library/server-system-variables/#character_set_server
character-set-server = latin1

## Cache
thread-cache-size               = 16
table-open-cache                = 4096
#table-definition-cache          = 2048
query-cache-size                = 32M 
query-cache-limit               = 1M
tmp_table_size                 = 32M
max_heap_table_size            = 32M
thread_cache_size              = 50
open_files_limit               = 65535
table_definition_cache         = 4096
table_open_cache               = 6400

## Per-thread Buffers
sort-buffer-size                = 1M
read-buffer-size                = 1M
read-rnd-buffer-size            = 1M
join-buffer-size                = 1M

## Temp Tables
tmp-table-size                  = 32M 
max-heap-table-size             = 64M 

## Networking
back-log                        = 100
max-connections                = 500
max-connect-errors              = 10000
max-allowed-packet              = 16M
interactive-timeout             = 3600
wait-timeout                    = 600

### Storage Engines
#default-storage-engine         = InnoDB
#innodb                          = FORCE

## MyISAM
key-buffer-size                 = 64M 
myisam-sort-buffer-size         = 128M
myisam_recover                 = FORCE,BACKUP

## InnoDB
innodb-log-buffer-size         = 8M
innodb-file-per-table          = 1
innodb-open-files              = 8192
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 256M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 2G
innodb_use_native_aio          = 0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB-5.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mysqld-5.5]

# These two groups are only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

[mariadb-5.5]

