# my.cnf file for MySQL 5.7

# this is read by the standalone daemon and embedded servers
[server]

# Include MacPorts defaults from /opt/local/etc/mysql57/macports-default.cnf 
# As of November 2020, this is only
# skip-networking
# We'd like to do that but unfortunately Sequel Ace can't connect to the socket then.
# https://sequel-ace.com/get-started/local-connection.html
# Therefore we are commenting out skip-networking and will bind to 127.0.0.1.
# Socket connections are still possible.
#skip-networking

# this is only for the mysqld standalone daemon
[mysqld]
user		= _mysql
port		= 3306
skip-external-locking

log_error = /opt/local/var/log/mysql57/error.log
#skip-name-resolve
#sql-mode                        = NO_ENGINE_SUBSTITUTION
#event-scheduler                = 1
# Make sysdate() safe for replication.
sysdate_is_now                 = 1
character-set-server = utf8

# Password complexity managed by applications
#validate_password_policy=LOW

# Cache
thread-cache-size               = 16
table-open-cache                = 150
#table-definition-cache          = 2048
tmp_table_size                 = 32M
max_heap_table_size            = 32M
thread_cache_size              = 50
# Effective limit in macOS 10.14
open_files_limit               = 10240
table_definition_cache         = 4096
table_open_cache               = 6400

## Per-thread Buffers
sort-buffer-size                = 1M
read-buffer-size                = 1M
read-rnd-buffer-size            = 1M
join-buffer-size                = 1M

## Temp Tables
tmp-table-size                  = 32M 
max-heap-table-size             = 64M 

## Networking
back-log                        = 100
max-connections                = 500
max-connect-errors              = 10000
max-allowed-packet              = 16M
interactive-timeout             = 300
wait-timeout                    = 300

### Storage Engines
#default-storage-engine         = InnoDB
#innodb                          = FORCE

## MyISAM
key-buffer-size                 = 64M 
myisam-sort-buffer-size         = 128M
#myisam_recover                 = FORCE,BACKUP

## InnoDB
innodb-log-buffer-size         = 8M
# on by default
innodb-file-per-table          = 1
innodb-open-files              = 8192
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 256M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 2G
innodb_use_native_aio          = 0

